html {
  font: 62.5%/1.65 "Open Sans",sans-serif;
}


body {
  color: #3c4043;
}


.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

#global-header {
  position: relative;
  min-height: 80px;
}

#global-header nav {
  background: #fff;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  z-index: 700;
}

.wrapper {
  max-width: 100%;
  padding: 0 24px;
    min-height: 70px;
    margin: 0 auto;
}



.logo{
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-image: url("../dglogo350.jpg");
  background-position: center;
  background-repeat: none;
  background-size: 100%;
  padding-top: 4%;
  text-indent:-9999px;
    overflow:hidden;
}


.logo::before {
  14px;
}

.logo::after{
  14px;
}


.main-menu {
  list-style: none;
    margin: 0;
    padding: 0;
  float: right;
  border-top: none;
  position: relative;
  z-index: 250;
  top: 9px;
  padding-top:1%;
  width: 15%;
}


.main-menu li {
  float: left;
  position: relative;
  font-size: 1.1rem;
  margin: 2%;
  display: inline;
  float: right;
}

.main-menu .login {
  height: 31px;
  min-width: 66px;
  padding: 5px 5px;
  border: 1px solid #5ba4e5;
  color: #5ba4e5;
  font-size: 1.3em;
  text-align: center;
  background: transparent;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-radius: 2px;

}


/* HOME */

h1 {
  color: #35393b;
  margin-bottom: 2% auto;
  text-align: center;
  font-weight: 800;
    font-size: 6rem;
    letter-spacing: -2px;
}

h2 {
  padding: 0;
  margin: 0 0 1.5rem;
  border: none;
  font-weight: normal;
  color: #5ba4e5;
  letter-spacing: -0.01em;
  font-size: 3.6rem;
  line-height: 1.15em;
}

h3 {
  margin-top: 1.6rem;
  color: #7d878a;
  font-size: 2rem;
  margin: 2.5rem auto 2.5rem auto;
  line-height: 1.5em;
  font-weight: 200;
}

#predictionDetail{
  font-weight: 900;
}

.home p {
  max-width: 550px;
  margin-top: 1.6rem;
  color: #7d878a;
  font-size: 2rem;
  margin: 0 auto 4.5rem auto;
  line-height: 1.5em;
  font-weight: 200;
}


/* BUTTON */
  .green-button {
    width: 135px;
    height: 40px;
    margin: 2.5% auto;
    padding: 0 10px;
    /* float: right; */
    font-size: 1.4rem;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    background: #9fbb58;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 35px;
    width: auto;
    display: block;
    padding: 0.9em 1.37em;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 0.3rem;
    border: rgba(0,0,0,0.05) 0.1em solid;
  }

  .upload {
    float: left;
  }

  .green-button:hover {
    background: #677934;
  }

  .green-button a {
    color: #fff;
    cursor: pointer;
    font-weight: 300; 
  }

  .green-button a:hover{
    text-decoration: none
  }

/* FORM STYLES */


#upload-file{
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 0 6rem 0;
  display: block;
}

#upload-file fieldset {
  float: left;
  width: calc(100% - 135px);
  margin: 0;
}

#upload-file label {
  position: relative;
  width: calc(50% - 10px);
  padding: 0;
  margin: 0;
  margin-right: 10px;
  float: left;

}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    min-width: 10%;
    min-height: 10%;
    font-size: 1em;
    text-align: left;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/* TABLE STYLES */

.sensorTableContainer {
  margin: 3% 0;
}

.conv-nav {
  margin-bottom: 5%;
}



/* D3 Styles */

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

#visualisation {
  margin-bottom: 10%;
}


/* show_files page */
.upload_label {
	margin: 5px 0 10px 0;
}

.db_item {
	display: block;
}

.sensorTableContainer .dataframe {
  font-size: 0.8em;
  text-align: center;
}

.sensorTableContainer .dataframe th{
  padding: 5px 5px;
  font-size: 1em;
  font-weight: bold;
}	

.dataScience {
  margin-bottom: 2%;
}

.footer-nav {
  max-width: 1100px;
  margin: 0 auto 40px auto;
  border-bottom: #e2edf2 1px solid;
  position: relative;
  text-transform: uppercase;
}

.credit {
  padding:0;
}

.global-footer li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  color: #7d878a;
  text-transform: none;
  font-size: 0.9em;
}

/* GUIDE PAGE */

ol {
  display: list-item;
  list-style-position: inside;
  list-style-type: circle;
}

/*=============================
LOADING MODAL STYLES
===============================*/


.modal2 {
    display:    none;
    position:   fixed;
    z-index:    499;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.8 )
        url("../static/ajax-loader.gif")
                50% 50% 
                no-repeat;
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal2 {
    display: block;
}