<!-- extend base layout -->
{% extends "base.html" %}



{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#upload-file-btn").on("click", function(){
                var form_data = new FormData($('#upload-file')[0])
                $.ajax({
                    type: 'POST',
                    url: '/api/csv',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: false
                })
                .always(function(){
                    console.log('always');
                })
                .fail(function(){
                    alert('There was an error, please try again');
                })
                .done(function(){
                    alert('Form uploaded successfully');
                    window.location.href = '/display';
                });
            });
        });

    </script>
    <h2>Sensor Upload Page</h2>

    <form id="upload-file" class="postform" method=POST enctype=multipart/form-data action="">

            <input type="file" name="android_file">
 
        <fieldset>
            <button class="green-button upload" id="upload-file-btn" type="button">Upload</button>
        </fieldset>
    </form>

    
{% endblock %}
