<!-- extend base layout -->
{% extends "base.html" %}



{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".fileUpload2").on("click", function(){
                console.log("clicked button");
                $.post('http://christophergs.pythonanywhere.com/csv', {
                    a: "test_data",
                    b: "more_test_data"
                }, function(data){
                    console.log(data);
                });
            });

            //$(".postme").on("click", function(e){
            //    e.preventDefault();
            //    $('.postform').attr('action', "/csv").submit();
            //});

        });

    </script>
    <h1>Sensor Upload Page</h1>

    <form class="postform" method=POST enctype=multipart/form-data action="">
        <input type="file" name="file">
        <input class="postme" type="submit"/>
    </form>

    
{% endblock %}
