<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>D3 Graph for Experiment {{experiment_number}}</h1>
    <a href="{{url_for('sensors.display')}}/{{id}}">Back to table</a>

    <div id="d3-container" class="col-lg-8"></div>



    <script type=text/javascript>
        var yol = {{ d3_response|safe }};
		console.log(yol);
    


	</script>





    {{ db_index_choice | safe }}
   

    <div>Sensor Data:
        <a href="{{ url_for('sensors.index') }}">Home</a>
        | <a href="{{ url_for('sensors.csv_route') }}">Upload File</a>
        | <a href="{{ url_for('sensors.display') }}">View Uploads</a>
    </div>

     
{% endblock %}


