<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h2>D3 Graph for Experiment {{experiment_number}}</h2>
    <a href="{{url_for('sensors.display')}}/{{id}}">Back to table</a>

    <div id="d3-container" class="col-lg-8"></div>

    <svg id="visualisation" width="1000" height="500"></svg>



    <script type=text/javascript>
        var arrival_data = {{ d3_response|safe }};
		var dataset = JSON.parse(arrival_data);

		//=============
		//D3 setup
		//=============

		//D3 Container

		console.log(dataset);

		var vis = d3.select("#visualisation");
	    var WIDTH = 1000;
	    var HEIGHT = 500;
	    var MARGINS = {
	        top: 20,
	        right: 20,
	        bottom: 20,
	        left: 50
	    };

	    var timeFormat = d3.time.format("%H:%M:%S%L");

	    //dataset.forEach(function(d) { d.timestamp = new Date(d.timestamp * 1000); });

	    // find data range
		var xMin = d3.min(dataset, function(d){ return Math.min(d.timestamp); });
		var xMax = d3.max(dataset, function(d){ return Math.max(d.timestamp); });

		var xScale = d3.time.scale()
			.domain([xMin, xMax])
    		.rangeRound([0, WIDTH - MARGINS.left - MARGINS.right]);

	    var yScale = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([-1,1]);
	    
	    var xAxis = d3.svg.axis()
    		.scale(xScale)
    		.orient('bottom')
    		.ticks(10)
			.tickPadding(5)
			.tickFormat(timeFormat);
  
		var yAxis = d3.svg.axis()
    		.scale(yScale)
    		.orient("left");

    	vis.append("svg:g")
    		.attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")
    		.attr("class","axis")
    		.call(xAxis);

    	vis.append("svg:g")
    		.attr("transform", "translate(" + (MARGINS.left) + ",0)")
    		.attr("class","axis")
    		.call(yAxis);

    	var lineGen = d3.svg.line()
			.x(function(d) {
		    	return xScale(d.timestamp);
		  	})
			.y(function(d) {
		    	return yScale(d.accelerometer_x);
		  	})
		  	.interpolate("basis");

		var lineGen2 = d3.svg.line()
			.x(function(d) {
		    	return xScale(d.accelerometer_y);
		  	})
			.y(function(d) {
		    	return yScale(d.accelerometer_z);
		  	})
		  	.interpolate("basis");

		vis.append('svg:path')
			.attr('d', lineGen(dataset))
			.attr('stroke', 'green')
			.attr('stroke-width', 2)
			.attr('fill', 'none');

		/*
		vis.append('svg:path')
			.attr('d', lineGen2(dataset))
			.attr('stroke', 'blue')
			.attr('stroke-width', 2)
			.attr('fill', 'none');
		*/

	</script>

	<br>

    <div class="conv-nav">Sensor Data:
        <a href="{{ url_for('sensors.index') }}">Home</a>
        | <a href="{{ url_for('sensors.csv_route') }}">Upload File</a>
        | <a href="{{ url_for('sensors.display') }}">View Uploads</a>
    </div>

     
{% endblock %}


