<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h2>Results from Experiment: {{info_label}} (experiment {{experiment_number}})</h2>
    <button><a href="{{url_for('sensors.display')}}/{{id}}/graph">Show graph</a></button>
    <button data-id="{{experiment_number}}" class="dataScience">Detect Motion</button>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select algorithm
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">SVM</a></li>
            <li><a href="#">HMM</a></li>
            <li><a href="#">LDS</a></li>
        </ul>
    </div>

    <div class="predictionSummary">
        {% if average == 'n/a' %}
            <h3>Calculated chance that motion is a punch: <span id="predictionDetail">n/a</span></h3>
        {% else %}
            <h3>Calculated chance that motion is a punch: <span id="predictionDetail">{{average}}%</span></h3>
        {% endif %}
    </div>

    <div class="sensorTableContainer">
    	{{ db_index_choice | safe }}
    </div>

    <div class="conv-nav">Sensor Data:
        <a href="{{ url_for('sensors.index') }}">Home</a>
        | <a href="{{ url_for('sensors.csv_route') }}">Upload File</a>
        | <a href="{{ url_for('sensors.display') }}">View Uploads</a>
    </div>

<script type="text/javascript">
        $(document).ready(function(){
            $("body").removeClass("loading");
            $(".dataScience").on("click", function(e){
                $("body").addClass("loading");
                var experiment_id = $(this).data('id');
                $.post("{{ url_for('sensors.display')}}/{{experiment_number}}", {
                    id: experiment_id
                }, function(data){
                    $("body").removeClass("loading");
                    console.log(data)    
                    window.location.href = '/display/{{experiment_number}}';
                });
            });
        });

</script>
     
{% endblock %}


