<html>
  <head>
    {% if title %}
    <title>{{ title }} - Sensor Uploader</title>
    {% else %}
    <title>Human Motion Recognition</title>
    {% endif %}

    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript>
        var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        console.log(SCRIPT_ROOT)
    </script>
  </head>

  <body>
    <div>Sensor Data:
        <a href="{{ url_for('sensors.index') }}">Home</a>
        | <a href="{{ url_for('sensors.csv') }}">Upload File</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
