<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

	<div class="home">
	    <h1 clas"text-center">Experiments with wearable data...</h1>

	    <p class="text-center">Analyze motion data from sensors</p>

	    <button class="green-button"><a href="{{ url_for('sensors.guide') }}">View Guide</button>
	    <button class="green-button"><a href="{{ url_for('sensors.csv_route') }}">Upload a File</a></button>


	    <p class="text-center">The tool is still work in progress <br> Github pull requests are welcome!</p>

	</div>
    
{% endblock %}
